// colors
$blue: #01246d;
$gray: #e6eaf4;
$orange: #ff6f5e;
$bg-color: #fafcfe;
$green: #13d8a4;
$text-gray: #8b8b8b;
$bg-gray: #f2f3f6;
$bg-hover: #a3df5e;
$text-blue: #00174a;
$red: #df1049;

// break points
$xs-breakpoint: 400px;
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 990px;
$xl-breakpoint: 1200px;
$xxl-breakpoint: 1450px;
