@import "@/styles/mixins.scss";
@import "@/styles/variables.scss";

.news-container {
  @include container;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(1, minmax(0, 1fr));

  @media screen and (min-width: $md-breakpoint) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
